.envs/*
!.envs/example.env

*.pyc
__pycache__/
db.sqlite3
/media/

*.pyo
*.pyd
*.pyc
*.pyo
*.so
*.log
*.pot
*.pyd
*.swo
*.swp
*.zip
*.sqlite3
*.sqlite3-journal
*.bak
*.orig
*.tmp

__pycache__/
*.py[cod]
